{% extends 'SnmpManager/parents/main.html' %}

{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
<style>
.INP{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
    border: 1px solid #707070;;
    border-radius: 5px;
}
p{
    margin: 5px;font-size:20px
}
</style>
<div class="container mt-3">
        <h1>You can send your SNMP request from this page</h1>
        <form action="" method="POST">
                {% csrf_token %}
                <p >SNMP Method :</p>
                        <select name="snmp_method" class="custom-select INP" id="method">
                                <option selected>Choose ...</option>
                                <option value="get">Get</option>
                                <option value="set">Set</option>
                               
                            </select>
                <p>OID :</p>
                <input type="text" name="object_id" class="INP">
                <p>Snmp User :</p>
                <select name="snmp_user" class="custom-select INP">
            
                        {% for user in SnmpUsers %}
                            <option value="{{ user.SnmpUserName }}">{{ user.SnmpUserName }}</option>
                        {% endfor %}
                            
                    </select>
                <p>IP :</p>
                <input type="text" name="target_IP" class="INP">
                <p style="display: none" id="tes">New Value :</p>
                 <input type="text" name="new_value" class="INP" id="set" style="display: none">
                 <input type="submit" class="btn btn-success btn-lg" style="position: fixed;top: 700px;left: 1380px">
                     
        </form>
      </div>
      <script>
          $(document).ready(function(){
              $("#method").blur(function (){
                  value = $("#method").val()
                  if(value == "set"){
                        $("#tes").fadeIn(1000)
                        $("#set").fadeIn(1000)
                  }
                  if(value == "get"){
                    $("#tes").fadeOut(1000)
                    $("#set").fadeOut(1000)
                  }

              })
          })
      </script>

{% endblock body %}













    