{% extends 'SnmpManager/parents/main.html' %}


{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
<div class="container mt-3">
<div class="alert alert-primary" role="alert">{{ output }}</div>
    
    {% if method == 'get' %}
    {% if MoM_status == False %}
<form action="{% url 'command_getnext' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="snmp_method" value="{{ method }}">
    <input type="hidden" name="object_id" value="{{ output }}">
    <input type="hidden" name="target_IP" value="{{ target_ip }}">
    <input type="hidden" name="snmp_user" value="{{ snmp_user }}">
    <input type="hidden" name="object_method" value="number">
    <input type="submit" value="get next" class="btn btn-primary">
</form>
{% endif %}
    </div>
{% endif %}
    
{% endblock body %}


    
    