{% extends 'SnmpManager/parents/main.html' %}

{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
<style>
    .INP{
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        margin: 5px;
        border: 1px solid #707070;;
        border-radius: 5px;
    }
    p{
        margin: 5px;font-size:20px
    }

</style>

<div class="container mt-3">
  

    
  <p>Recieved Traps percent :</p>
    <div class="progress">
        <div class="progress-bar" style="width:{{ r_trap_d }}%"></div>
      </div>
      <p>Send Traps percent :</p>
      <div class="progress">
          <div class="progress-bar" style="width:{{ s_trap_d }}%"></div>
        </div>
<div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="glyphicon glyphicon-import"></i> Latest Recieved Trap
              </button>
              <button type="button" class="btn btn-primary" style="float: right">
                    Traps <span class="badge badge-light">{{ r_trap_count }}</span>
                  </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              
              
              {% if r_trap|length == 0 %}
                  <div class="alert alert-info" role="alert">
                    There is no recieved trap
                    
                  </div>
              {% else %}
                  
                  {% for trap in r_trap %}
                  <div class="card">
                        <div class="card-body">
                          {{ trap.SenderIP }} | {{ trap.DateTime }} 
                          <button type="button" class="btn btn-outline-info" style="float: right"><a href="{% url 'trap_listner' trap.SnmpUsm.SnmpUserName trap.SnmpUsm.SnmpVersion %}">More</a></button>
                        </div>
                      </div>
                  {% endfor %}
                      
              {% endif %}
                  
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="glyphicon glyphicon-export"></i> Latest Send Trap
                <button type="button" class="btn btn-primary" style="float: right">
                        Traps <span class="badge badge-light">{{ s_trap_count }}</span>
                      </button>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ s_trap_d_suc }}%" ></div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ s_trap_d_d }}%" ></div>
                  </div>
            <div class="card-body">
            <div class="card-body">
                    {% if s_trap|length == 0 %}
                    <div class="alert alert-info" role="alert">
                      There is no sended trap
                    </div>
                {% else %}
                    
                    {% for trap in s_trap %}
                    <div class="card">
                          <div class="card-body">
                            {{ trap.SendTrapProfile.TargetIP }} | {{ trap.DateTime }} 
                            <button type="button" class="btn btn-outline-info" style="float: right"><a href="#">More</a></button>

                          </div>
                        </div>
                    {% endfor %}
                        
                {% endif %}
            </div>
          </div>
        </div>
       
      </div>  
{% endblock body %}
    