{% extends 'SnmpManager/parents/main.html' %}

{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}

{% if session == "Ok" %}
<div class="alert alert-success" role="alert">
        {{ message }}
      </div>
{% endif %}

{% if session == "failed" %}
<div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
{% endif %}
    
    
{% endblock body %}