{% extends 'SnmpManager/parents/main.html' %}

{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
<style>
    .INP{
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        margin: 5px;
        border: 1px solid #707070;;
        border-radius: 5px;
    }
    p{
        margin: 5px;font-size:20px
    }
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  
</style>

<div class="container mt-3">
    <h1>You can change system configuration from here.</h1>
    
    {% if conf %}
        
        {% for c in conf %}
        <form action="" method="POST">
                {% csrf_token %}
                <p>System Name :</p>
                <input type="text" name="system_name" class="INP" placeholder="{{ c.SystemName }}"> 
                <p>System Email :</p> 
                <input type="text" name="system_email" class="INP" placeholder="{{ c.SystemEmail }}"> 
                <p>System Email Password :</p>
                <input type="text" name="system_email_password" class="INP" placeholder="{{ c.SystemEmailPassword }}">
                <p>System Email Protocol :</p>
                <input type="text" name="system_email_protocol" class="INP" placeholder="{{ c.SystemEmailProtocol }}">
                <p>System IP:</p>
                <input type="text" name="system_ip" class="INP" placeholder="{{ c.SystemIp }}"> 
                <p> MoM </p>
                {% if c.MoM == True %}
                <label class="switch">
                        <input id="MoM" type="checkbox" name="MoM" checked>
                        <span class="slider round"></span>
                      </label>
                        
                {% else %}
                <label class="switch">
                        <input id="MoM" type="checkbox" name="MoM" id="MoM">
                        <span class="slider round"></span>
                      </label>
                      
                {% endif %}
                <p> MoM IP </p>
                <input type="text" id="MoMInput" name="MoM_IP" class="INP" placeholder="{{ c.MoM_IP }}">
                <p> MoM Port</p>
                <input type="text" id="MoMInput" name="MoM_Port" class="INP" placeholder="{{ c.MoM_Port }}">


                    
                
                
                <input type="submit" class="btn btn-success btn-lg" style="float: right;margin: 5px;margin-right: 0px;">
            </form>
        {% endfor %}
        {% else %}
        <form action="" method="POST">
                {% csrf_token %}
                <p>System Name :</p>
                <input type="text" name="system_name" class="INP"> 
                <p>System Email :</p> 
                <input type="text" name="system_email" class="INP"> 
                <p>System Email Password :</p>
                <input type="text" name="system_email_password" class="INP">
                <p>System Email Protocol :</p>
                <input type="text" name="system_email_protocol" class="INP">
                <p>System IP:</p>
                <input type="text" name="system_ip" class="INP"> 
                <p> MoM </p>
                <label class="switch">
                        <input id="MoM" type="checkbox" name="MoM" id="MoM">
                        <span class="slider round"></span>
                      </label>
                <p id="MoMInput1"> MoM IP </p>
                <input type="text" id="MoMInput3" name="MoM_IP" class="INP" >
                <p id="MoMInput2"> MoM Port</p>
                <input type="text" id="MoMInput4" name="MoM_Port" class="INP">
                      
                <input type="submit" class="btn btn-success btn-lg" style="position: fixed;top: 955px;left: 1535px">
            </form>
        </div>
                   
    {% endif %}
    <script>
        $(document).ready(function(){
          $("#MoM").click(function(){
            if ($("#MoM").is(":checked")){
          $("#MoMInput1").fadeOut(3000)
          $("#MoMInput2").fadeOut(3000)
          $("#MoMInput3").fadeOut(3000)
          $("#MoMInput4").fadeOut(3000)
        }else{
          $("#MoMInput1").fadeIn(3000)
          $("#MoMInput2").fadeIn(3000)
          $("#MoMInput3").fadeIn(3000)
          $("#MoMInput4").fadeIn(3000)
        }
          })
       
      })
      </script>
        

{% endblock body %}
    