{% extends 'SnmpManager/parents/main.html' %}

{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
<div class="container mt-3">
    
{% if traps %}
<h1>You can see sended trap</h1>
<button type="button" class="btn btn-primary" id="refresh" style="margin-top: 10px;margin-bottom:10px">Refresh</button>
    {% for trap in traps %}
        
        {% if trap.Response == "OK" %}
        <div class="alert alert-success" role="alert">
                {{ trap }}
              </div>
              {% else %}
              <div class="alert alert-warning" role="alert">
                    {{ trap }}
                  </div>
        {% endif %}
            
    {% endfor %}
        
    {% else %}
    <div class="alert alert-primary" role="alert">
            There is no trap for this profile
          </div>             
{% endif %}
</div>
<script>
        $(document).ready(function(){
                $("#refresh").click(function(){
                        location.reload();
                })
        })
        </script>
    
{% endblock body %}