{% extends 'SnmpManager/parents/main.html' %}


{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
    
<div class="container mt-3">
                <h1>You can see traps from {{ user }}</h1>
                <button type="button" class="btn btn-primary" id="refresh" style="margin-top: 10px;margin-bottom:10px">Refresh</button>
        {% if watch %}
                
                {% for record in watch %}
                <div class="alert alert-warning" role="alert">
                                {{record}}
                              </div>
                {% endfor %}
        {% else %}
                <div class="alert alert-primary" role="alert">
                                There is no trap for {{ user }}
                              </div>             
        {% endif %}
                
</div>    
<script>
$(document).ready(function(){
        $("#refresh").click(function(){
                location.reload();
        })
})
</script>
        
{% endblock body %}
    