{% extends 'SnmpManager/parents/main.html' %}


{% block body %}
{% include "SnmpManager/parents/partial/nav.html" %}
<style>
        .INP{
            width: 100%;
            height: 50px;
            background-color: rgb(255, 255, 255);
            padding: 5px;
            margin: 5px;
            border: 1px solid #707070;;
            border-radius: 5px;
        }
        p{
            margin: 5px;font-size:20px
        }
</style>
<div class="container mt-3">
        <h1>You can choose your trap listner profile in this page</h1>
        <form action="" method="POST">
                {% csrf_token %}
                <p>Trap Profile :</p>
                <select name="trap_profile" id="" class="custom-select INP">
        
                        {% for profile in TrapProfile %}
                
                            <option value="{{ profile.SenderIP }}">{{ profile.SenderIP }},{{ profile.SnmpUser.SnmpUserName }}</option>
                        
                        {% endfor %}
                            
                    </select>
                    <input type="submit" class="btn btn-success btn-lg" style="float: right;margin: 5px;margin-right: 0px;">
        </form>

      </div>

{% endblock body %}

    