{% extends 'SnmpManager/parents/main.html' %}

{% block body %}
<!-- Button trigger modal -->
<style>
    body{
        background-image: url(/static/img/thomas-jensen-UrtxBX5i5SE-unsplash.jpg);
        background-size: 100%;
    }
    .atag{
    color : #ffff;
    text-decoration: none;
}
</style>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">SNMP Manager</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
                    Welcome to Snmp Manager,You can manage snmp protocol with this software
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">
                    {% if conf == 0 %}
                    <a href="{% url 'system_configuration' %}" class="atag">System Configuration</a>
                {% else %}
                    <a href="{% url 'dashbord'%}" class="atag">Next</a>
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>
                <script>
                    $(document).ready(function(){
                        $('#exampleModalCenter').modal('show');
                    })
                    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
                </script>

{% endblock body %}
