{% extends 'SnmpManager/parents/main.html' %}
{% block body %}
<div class="alert alert-danger" role="alert">
    you are logged out <br> <br>
    <a href="{% url 'login' %}">Login page</a>
    
  </div>
{% endblock body %}