
        <style>
          #btn-of-nav:hover{
              color: #4c81f1
          }
          </style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#" style=" font-size: 30px;background: -webkit-linear-gradient(#e6f700, red);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">SNMP Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" id="btn-of-nav" href="{% url 'dashbord' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" id="btn-of-nav" href="{% url 'system_configuration' %}">System Configuration</a>
            <a class="nav-item nav-link active" id="btn-of-nav" href="{% url 'command_generator' %}">Command Generation</a>
            <a class="nav-item nav-link active" id="btn-of-nav" href="{% url 'trap_configuration' %}">Recieved Trap Configuraion</a>
            <a class="nav-item nav-link active" id="btn-of-nav" href="{% url 'trap_sender' %}">Send Trap Configuration</a>
            <a class="nav-item nav-link active" id="btn-of-nav" href="{% url 'profile' %}">Profile</a>
          </div>
        </div>
        <button type="button" class="btn btn-primary" style="float: right; margin-right: 5px"><a href="/admin/" style="color: white;text-decoration:none;">Admin</a></button>
        <button type="button" class="btn btn-danger" style="float: right"><a href="{% url 'loggedout' %}" style="color: white;text-decoration:none">Logout</a></button>
        {% if MoM_status == False %}
        <button type="button" class="btn btn-info" style="float: right; margin-left: 5px;">
          <a href="{% url 'socket' %}" style="color: white;text-decoration:none">execute manager of manager</a>
        </button>
        
        {% endif %}
      </nav>

