.welcome{
    background-color: rgb(13, 200, 224);
    color : rgb(95, 39, 29);
    height : 300px;
    width: 500px;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 50px 53px 10px #4c81f1;
    justify-content: center;
}
.welcome-data{
    margin: auto;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    text-shadow: 2px 2px hsl(220, 2%, 24%)
     
}
.linking{
   float: right;
   position: relative;
   bottom: -80px;
}
.atag{
    color : #ffff;
    text-decoration: none;
}

